@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope/Manrope-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }
:root {
  --grey-text: rgba(26, 24, 31, 0.6);
  --grey-dark: #D9D9D9;
  --red: #D00025;
  --black: #1A181F; }

html,
body {
  min-height: 100%; }

html {
  font-size: 10px; }

body {
  background-color: #F4F7F7;
  color: var(--black);
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem; }

img {
  max-width: 100%; }

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s; }

.font-500 {
  font-weight: 500; }

b,
strong {
  font-weight: 800; }

.font-500 {
  font-weight: 500; }

.font-900 {
  font-weight: 900; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.wrapper {
  height: 100%; }

.main {
  height: 100%; }

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.red {
  color: #D00025; }

a.red:hover {
  text-decoration: underline; }

.white {
  color: #fff; }
  .white p {
    color: #fff; }

.h1,
h1 {
  font-size: 9rem;
  line-height: 1.1; }

h2, .h2 {
  font-size: 5rem;
  line-height: 1.2; }

h3, .h3 {
  font-size: 2.5rem;
  line-height: 1.2; }

p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(26, 24, 31, 0.6); }
  p a {
    color: var(--red); }
    p a:hover {
      text-decoration: underline; }

::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #F4F7F7; }

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6); }

.for-mobile {
  display: none !important; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 0; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo__text {
    font-size: 3rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600; }
  .logo__descr {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 2.5em;
    padding-left: 2.5em;
    position: relative; }
    .logo__descr::before {
      content: '';
      width: 1px;
      height: 80%;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.social-block .phone {
  margin-left: .5em; }
  .social-block .phone:hover {
    color: rgba(255, 255, 255, 0.7); }

.social li {
  padding: 0 4px; }
  .social li a {
    width: 27px;
    height: 27px;
    display: block; }
    .social li a:hover {
      opacity: .7; }
    .social li a img {
      width: 100%; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 4.66em;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn--full {
    width: 100%; }
  .btn--middle {
    min-width: 21em; }
  .btn--red {
    background-color: var(--red);
    color: #fff; }
  .btn--grey {
    background-color: var(--grey-dark); }
  .btn:hover {
    background-color: #af0725;
    color: #fff; }
  .btn:active {
    background-color: #7f051b;
    color: #fff; }
  @media (max-width: 767px) {
    .btn {
      height: 70px;
      font-size: 15px; } }

.first-screen {
  width: 100%;
  height: 100vh;
  background: #16161D url("../img/first-screen_bg.jpg") center 0 no-repeat;
  background-size: cover; }
  .first-screen .h1 {
    margin-bottom: .6em; }
  .first-screen .h3 {
    margin-bottom: 3.2em; }

.about-us {
  padding: 15rem 0;
  position: relative;
  overflow: hidden; }
  .about-us::after {
    content: '';
    width: 1000px;
    height: 1000px;
    background: rgba(208, 0, 37, 0.6);
    -webkit-filter: blur(250px);
            filter: blur(250px);
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(60%, 60%);
            transform: translate(60%, 60%);
    border-radius: 50%;
    z-index: -1; }
  .about-us__descr {
    width: 40%; }
    .about-us__descr .h2 {
      margin-bottom: 1.25em; }
    .about-us__descr .h3 {
      line-height: 1.4; }
      .about-us__descr .h3:not(:last-child) {
        margin-bottom: .75em; }
  .about-us__statistic {
    width: 53%; }
  .about-us .container {
    position: relative;
    z-index: 1; }
  .about-us .decor-line {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .about-us .decor-line svg {
      width: 100%; }

.about-us__statistic__list {
  margin: 0 -1.5rem 2rem; }
  .about-us__statistic__list__item {
    width: 50%;
    margin-bottom: 3rem;
    padding: 0 1.5rem; }
  .about-us__statistic__list__content {
    background: #FFFFFF;
    -webkit-box-shadow: 0 24px 64px rgba(26, 24, 31, 0.06);
            box-shadow: 0 24px 64px rgba(26, 24, 31, 0.06);
    border-radius: 10px;
    min-height: 17rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 4rem; }
    .about-us__statistic__list__content .h2 {
      font-weight: 600;
      margin-bottom: .3em; }

.for-partners {
  background: #271821 url("../img/partners_bg.jpg") center no-repeat;
  background-size: cover;
  padding: 15rem 0; }
  .for-partners__title {
    margin-bottom: 1.75em;
    font-weight: 800; }

.slider {
  height: 0;
  overflow: hidden; }
  .slider.active {
    height: auto;
    overflow: visible; }

.partners-slider .slick-track,
.master-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .partners-slider .slick-track .slick-slide,
  .master-slider .slick-track .slick-slide {
    height: auto; }

.slick-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1; }
  .slick-arrow:hover {
    background: white;
    color: #000; }

.prev-arrow {
  left: 0; }

.next-arrow {
  right: 0; }

.partners-slide__content {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .partners-slide__content .h3 {
    font-weight: 700;
    margin-bottom: .75em;
    display: inline-block;
    position: relative; }
    .partners-slide__content .h3::before {
      content: '';
      width: 5em;
      height: 4em;
      position: absolute;
      right: calc(100% + 10px);
      top: .6em;
      background: url("../img/vector.svg") 0 0 no-repeat;
      background-size: contain; }
  .partners-slide__content p {
    max-width: 330px;
    line-height: 1.4;
    margin: 0 auto; }

.slide-img {
  margin-top: 2em; }
  .slide-img img {
    border-radius: 13px; }

.master-slide__content {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto; }
  .master-slide__content--full-width .slide-img {
    width: 40%; }
    .master-slide__content--full-width .slide-img img {
      width: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .master-slide__content--full-width .slide-descr {
    width: 55%; }
    .master-slide__content--full-width .slide-descr .h3 {
      margin-bottom: 1.2em;
      font-weight: 700; }

.list {
  font-size: 1.5rem; }
  .list li {
    line-height: 1.5;
    padding-left: 1.5em;
    position: relative; }
    .list li::before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--red);
      position: absolute;
      left: 0;
      top: .6em; }
    .list li:not(:last-child) {
      margin-bottom: 1em; }

.master-slide__body {
  width: 45%; }
  .master-slide__body .slide-descr {
    text-align: center;
    min-height: 10rem; }
    .master-slide__body .slide-descr .h3 {
      font-weight: 700; }
    .master-slide__body .slide-descr p {
      margin-top: 1em; }
  .master-slide__body .slide-img {
    margin-top: 1em; }

.tab-content {
  height: 0;
  overflow: hidden;
  visibility: hidden; }
  .tab-content.active {
    height: auto;
    visibility: visible;
    overflow: auto; }

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7rem; }
  .tab-list li {
    font-size: 1.4rem;
    font-weight: 700;
    width: 20.7142em;
    height: 4.2857em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    border: 1px solid #D7D9DA;
    border-right: none;
    position: relative; }
    .tab-list li::before {
      content: '';
      width: 100%;
      height: 100%;
      border: 3px solid var(--red);
      position: absolute;
      left: -3px;
      top: -3px;
      border-radius: 5px;
      opacity: 0;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .tab-list li:first-child {
      border-radius: 5px 0 0 5px; }
    .tab-list li:last-child {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid #D7D9DA; }
    .tab-list li.active {
      z-index: 1; }
      .tab-list li.active::before {
        opacity: 1; }

.select {
  position: relative;
  display: table;
  margin: 0 auto;
  vertical-align: middle;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }
  .select .placeholder {
    position: relative;
    display: block;
    color: #777380;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 1; }
    .select .placeholder:after {
      content: '';
      width: .32em;
      height: .16em;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      display: inline-block;
      background: url("../img/icons/select-arrow.svg") center no-repeat;
      background-size: contain;
      margin-left: .2em;
      vertical-align: middle; }
  .select.is-open .placeholder:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .select.is-open ul {
    display: block; }
  .select ul {
    display: none;
    position: absolute;
    right: 0;
    background: #FFFFFF;
    border: 2px solid #F4F7F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    z-index: 100; }
    .select ul li {
      display: block;
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.3;
      color: var(--grey-text);
      cursor: pointer; }
      .select ul li:not(:last-child) {
        margin-bottom: 1em; }
      .select ul li:hover, .select ul li.active {
        color: #000; }

.advertise-banners {
  padding: 10rem 0;
  background-color: #fff;
  position: relative; }
  .advertise-banners .decor-line {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    overflow: hidden; }
    .advertise-banners .decor-line svg {
      width: 100%; }
  .advertise-banners .container {
    position: relative;
    z-index: 1; }
  .advertise-banners .h2 {
    margin-bottom: 1em; }

.banner-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem; }
  .banner-options li {
    font-size: 1.5rem;
    padding: 0 .75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap; }
    .banner-options li .place-number {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background: #F4F7F7;
      margin-right: 1em;
      font-size: 1.66em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.banner-slider-block .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: number;
  position: relative;
  bottom: 0; }
  .banner-slider-block .slick-dots li {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    border-radius: 50%;
    background-color: #F4F7F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
    line-height: 1;
    color: rgba(26, 24, 31, 0.3); }
    .banner-slider-block .slick-dots li::before {
      content: counter(number);
      counter-increment: number; }
    .banner-slider-block .slick-dots li.slick-active {
      color: #000; }
    .banner-slider-block .slick-dots li button {
      display: none; }

.banner-slider__main__slide {
  background: #F4F7F7;
  border-radius: 10px 10px 0 0;
  padding: 30px 20px 0;
  text-align: center; }
  .banner-slider__main__slide img {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto; }

.slick-dotted.slick-slider {
  margin-bottom: 20px; }

.banner-slider-counter {
  margin-bottom: 20px; }

.banner-slider__descr__slide {
  text-align: center; }
  .banner-slider__descr__slide p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    color: #000; }

.input-row--two-items .input-wrapper {
  width: calc(50% - 1.5rem); }

.input-wrapper {
  margin-bottom: 3.5rem; }
  .input-wrapper > span {
    display: block;
    font-size: 15px;
    margin-bottom: 1em;
    font-weight: 600;
    line-height: 1; }
  .input-wrapper .checkbox {
    -webkit-transform: translateY(80%);
            transform: translateY(80%); }

.input {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 70px;
  background: #F4F7F7;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 2em;
  padding-right: 2em;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .input:focus {
    background: #ebf1f1; }
  .input::-webkit-input-placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: var(--grey-text); }
  .input:-ms-input-placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: var(--grey-text); }
  .input::-ms-input-placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: var(--grey-text); }
  .input::placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: var(--grey-text); }

.checkbox input {
  display: none; }
  .checkbox input:checked + label::before {
    background: #D00025 url("../img/icons/check.svg") center no-repeat; }
.checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem; }
  .checkbox label::before {
    content: '';
    width: 1.4em;
    height: 1.4em;
    border-radius: 3px;
    border: 2px solid var(--red);
    margin-right: .75em; }

.contacts {
  background: #271821 url(../img/partners_bg.jpg) center no-repeat;
  background-size: cover;
  padding: 12rem 0 10rem; }
  .contacts__top {
    margin-bottom: 7rem; }
  .contacts__form {
    background-color: #fff;
    border-radius: 10px;
    padding: 8rem 10rem;
    margin-bottom: 7rem; }
    .contacts__form .h2 {
      margin-bottom: 1.5em; }
    .contacts__form .btn {
      margin-top: 2rem; }

.mail {
  margin-left: 2em; }

.copyright {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }
  .copyright p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.45);
    line-height: 145%;
    font-weight: 500; }

.copyright-label {
  width: 3em;
  height: 3em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  background: rgba(157, 157, 157, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  margin-right: 1.2em; }

@media (max-width: 1600px) {
  html {
    font-size: .65vw; }

  .header {
    padding: 2rem 0; }

  .h1, h1 {
    font-size: 6rem; }

  h2, .h2 {
    font-size: 4rem; }

  h3, .h3 {
    font-size: 2rem; }

  .about-us,
  .for-partners,
  .contacts {
    padding: 10rem 0; }

  .slide-img,
  .banner-img {
    width: 100%;
    text-align: center; }
    .slide-img img,
    .banner-img img {
      margin-left: auto;
      margin-right: auto;
      max-height: 50rem;
      max-width: 480px; }

  .for-partners__title {
    margin-bottom: .75em; }

  .banner-options li .place-number {
    font-size: 1.2em; }

  .contacts__form {
    padding: 5rem; }

  .input {
    height: 50px;
    padding-left: 1em;
    padding-right: 1em; } }
@media (max-width: 1440px) {
  .slide-img img,
  .banner-img img {
    max-height: 42rem; }
  .slide-img .slide-img__lt,
  .banner-img .slide-img__lt {
    max-height: 34rem; } }
@media (max-width: 1280px) {
  html {
    font-size: 1vw; }

  .first-screen {
    height: 500px;
    padding-top: 50px; }

  .logo__descr {
    margin-left: 1em;
    padding-left: 1em; } }
@media (max-width: 767px) {
  html {
    font-size: 1.2vw; }

  .logo__descr,
  br,
  .partners-slide__content .h3::before {
    display: none; }

  .logo__text {
    font-size: 14px; }

  .social li a {
    width: 15px;
    height: 15px; }

  h1, .h1,
  h2, .h2 {
    font-size: 27px; }

  h3, .h3 {
    font-size: 15px;
    font-weight: 500; }

  .header {
    padding: 20px 0; }

  .first-screen {
    text-align: center;
    height: 450px; }
    .first-screen__bottom {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .first-screen__bottom .down {
        display: none; }
      .first-screen__bottom .btn {
        width: 100%; }
    .first-screen .h1 {
      line-height: 1.3;
      margin-bottom: 30px; }
    .first-screen .h3 {
      max-width: 240px;
      margin: 0 auto 3em;
      line-height: 1.6; }

  .about-us .container {
    display: block; }

  .about-us__descr,
  .about-us__statistic,
  .about-us__statistic__list__item,
  .master-slide__body {
    width: 100%; }

  .about-us, .for-partners, .contacts {
    padding: 50px 0; }

  .about-us__descr {
    text-align: center;
    margin-bottom: 30px; }
    .about-us__descr .h3 {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }

  .about-us__statistic__list {
    margin: 0; }
    .about-us__statistic__list__item {
      padding: 0;
      margin-bottom: 10px; }

  .about-us__statistic__list__content {
    height: 120px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .about-us__statistic__list__content .h2 {
      font-size: 30px; }

  p {
    font-size: 14px; }

  .about-us__statistic > p {
    font-size: 12px;
    text-align: center;
    margin-top: 1.5em; }

  .about-us::after {
    width: 300px;
    height: 300px;
    background: rgba(208, 0, 37, 0.2);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    -webkit-transform: translate(40%, 40%);
            transform: translate(40%, 40%); }

  .contacts__top {
    display: block;
    text-align: center; }
    .contacts__top .h2 {
      margin-bottom: .5em; }

  .mail {
    margin-left: auto; }

  .contacts__form {
    padding: 30px 20px; }
    .contacts__form .h2 {
      margin-bottom: 1em; }

  .input-row--two-items {
    display: block; }
    .input-row--two-items .input-wrapper {
      width: 100%; }

  .input-wrapper > span {
    text-align: center; }

  .input {
    height: 70px; }

  .checkbox label {
    font-size: 12px; }

  .input-wrapper .checkbox {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }

  .copyright-label {
    width: 57px;
    height: 57px;
    font-size: 20px; }

  .for-mobile {
    display: block !important; }

  .for-desctop {
    display: none !important; }

  .slide-img img, .banner-img img {
    max-height: unset;
    width: 100%; }

  .partners-slide {
    margin-bottom: 50px; }

  .for-partners__title {
    margin-bottom: 30px; }

  .partners-slide__content br {
    display: block; }

  .tab-list {
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .tab-list li {
    font-size: 14px;
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    white-space: nowrap;
    color: rgba(26, 24, 31, 0.5); }
    .tab-list li.active {
      color: var(--red); }
    .tab-list li::before {
      border-width: 0 0 2px 0 !important;
      border-radius: 0 !important; }
    .tab-list li:not(:last-child) {
      padding-right: 10px;
      margin-right: 10px; }

  .advertise-banners {
    padding-bottom: 30px; }

  .partners-slider,
  .master-slide__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .partners-slider .slide-img,
    .master-slide__content .slide-img {
      position: relative;
      margin-top: 10px; }
      .partners-slider .slide-img::before,
      .master-slide__content .slide-img::before {
        content: '';
        width: 10px;
        height: 20px;
        background: url("../img/icons/arrow-down.svg") center no-repeat;
        display: block;
        margin: 0 auto 20px; }

  .select ul {
    padding: 10px;
    width: 220px; }

  .select .placeholder:after {
    width: .6em;
    height: .3em; }

  .master-slide__content--full-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .master-slide__content--full-width .slide-img,
    .master-slide__content--full-width .slide-descr {
      width: 100%; }
    .master-slide__content--full-width .slide-img {
      text-align: center; }
      .master-slide__content--full-width .slide-img img {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-height: unset; }
  .master-slide__content .slide-descr {
    text-align: center; }
    .master-slide__content .slide-descr .h3 {
      font-size: 15px;
      font-weight: 700;
      line-height: 1.4;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto; }

  .list {
    font-size: 15px; }
    .list li {
      padding-left: 0;
      padding-top: 1.5em; }
      .list li::before {
        left: 50%;
        margin-left: -2px; }

  .master-slide {
    margin-bottom: 50px; }

  .master-slide__body .slide-descr {
    min-height: unset; }

  .master-slide__body:not(:last-child) {
    margin-bottom: 50px; }
  .master-slide__body .slide-img img {
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=style.css.map */