.about-us {
  padding: 15rem 0;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    width: 1000px;
    height: 1000px;
    background: rgba(208, 0, 37, 0.6);
    filter: blur(250px);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(60%, 60%);
    border-radius: 50%;
    z-index: -1;
  }
  &__descr {
    width: 40%;
    .h2 {
      margin-bottom: 1.25em;
    }
    .h3 {
      line-height: 1.4;
      &:not(:last-child) {
        margin-bottom: .75em;
      }
    }
  }
  &__statistic {
    width: 53%;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .decor-line {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    svg {
      width: 100%;
    }
  }
}
.about-us__statistic__list {
  margin: 0 -1.5rem 2rem;
  &__item {
    width: 50%;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
  }
  &__content {
    background: #FFFFFF;
    box-shadow: 0 24px 64px rgba(26, 24, 31, 0.06);
    border-radius: 10px;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    .h2 {
      font-weight: 600;
      margin-bottom: .3em;
    }
  }
}
