.advertise-banners {
  padding: 10rem 0;
  background-color: #fff;
  position: relative;
  .decor-line {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    overflow: hidden;
    svg {
      width: 100%;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .h2 {
    margin-bottom: 1em;
  }
}
.banner-options {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  li {
    font-size: 1.5rem;
    padding: 0 .75em;
    display: flex;
    align-items: center;
    white-space: nowrap;
    .place-number {
      flex: none;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background: #F4F7F7;
      margin-right: 1em;
      font-size: 1.66em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.banner-slider-block .slick-dots{
  display: flex;
  justify-content: center;
  counter-reset: number;
  position: relative;
  bottom: 0;
  li {
    width: 50px;
    height: 50px;
    flex: none;
    border-radius: 50%;
    background-color: #F4F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 1;
    color: rgba(26, 24, 31, 0.3);
    &::before {
      content: counter(number);
      counter-increment: number;
    }
    &.slick-active {
      color: #000
    }
    button {
      display: none;
    }
  }
}
.banner-slider__main__slide  {
  background: #F4F7F7;
  border-radius: 10px 10px 0 0;
  padding: 30px 20px 0;
  text-align: center;
  img {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
.slick-dotted.slick-slider {
  margin-bottom: 20px;
}
.banner-slider-counter {
  margin-bottom: 20px;
}
.banner-slider__descr__slide {
  text-align: center;
  p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    color: #000
  }
}
