.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 4.66em;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all .3s;
  &--full {
    width: 100%;
  }
  &--middle {
    min-width: 21em;
  }
  &--red {
    background-color: var(--red);
    color: #fff;
  }
  &--grey {
    background-color: var(--grey-dark);
  }
  &:hover {
    background-color: #af0725;
    color: #fff;
  }
  &:active {
    background-color: #7f051b;
    color: #fff;
  }
  @media(max-width: 767px) {
    height: 70px;
    font-size: 15px;
  }
}

