.contacts {
  background: #271821 url(../img/partners_bg.jpg) center no-repeat;
  background-size: cover;
  padding: 12rem 0 10rem;
  &__top {
    margin-bottom: 7rem;
  }
  &__form {
    background-color: #fff;
    border-radius: 10px;
    padding: 8rem 10rem;
    margin-bottom: 7rem;
    .h2 {
      margin-bottom: 1.5em;
    }
    .btn {
      margin-top: 2rem;
    }
  }
}
.mail {
  margin-left: 2em;
}
.copyright {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  p {
    font-size: 12px;
    color: rgba(#fff, .45);
    line-height: 145%;
    font-weight: 500;
  }
}
.copyright-label {
  width: 3em;
  height: 3em;
  flex: none;
  border-radius: 50%;
  background: rgba(157, 157, 157, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  margin-right: 1.2em;
}
