.select{
  position: relative;
  display: table;
  margin: 0 auto;
  vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;

  .placeholder{
    position: relative;
    display: block;
    color: #777380;
    cursor: pointer;
    transition: all .3s;
    z-index: 1;

    &:after{
      content: '';
      width: .32em;
      height: .16em;
      flex: none;
      display: inline-block;
      background: url('../img/icons/select-arrow.svg') center no-repeat;
      background-size: contain;
      margin-left: .2em;
      vertical-align: middle;
    }
  }

  &.is-open{
    .placeholder:after{
      transform: rotate(180deg);
    }
    ul{
      display: block;
    }
  }


  ul{
    display: none;
    position: absolute;
    right: 0;
    background: #FFFFFF;
    border: 2px solid #F4F7F7;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;

    li{
      display: block;
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.3;
      color: var(--grey-text);
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &:hover,
      &.active{
        color: #000;
      }
    }
  }
}
