.first-screen {
  width: 100%;
  height: 100vh;
  background: #16161D url('../img/first-screen_bg.jpg') center 0 no-repeat;
  background-size: cover;
  .h1 {
    margin-bottom: .6em;
  }
  .h3 {
    margin-bottom: 3.2em;
  }
}
