/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 0;
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-size: 3rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
  }

  &__descr {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 2.5em;
    padding-left: 2.5em;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 80%;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.social-block {
  .phone {
    margin-left: .5em;
    &:hover {
      color: rgba(#fff, .7);
    }
  }
}
.social {
  li {
    padding: 0 4px;
    a {
      width: 27px;
      height: 27px;
      display: block;
      &:hover {
        opacity: .7;
      }
      img {
        width: 100%;
      }
    }
  }
}
