.input-row {
  &--two-items {
    .input-wrapper {
      width: calc(50% - 1.5rem);
    }
  }
}
.input-wrapper {
  margin-bottom: 3.5rem;
  & > span {
    display: block;
    font-size: 15px;
    margin-bottom: 1em;
    font-weight: 600;
    line-height: 1;
  }
  .checkbox {
    transform: translateY(80%);
  }
}
.input {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 70px;
  background: #F4F7F7;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 2em;
  padding-right: 2em;
  transition: all .3s;
  &:focus {
    background: darken(#F4F7F7, 3%);
  }
  &::placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: var(--grey-text);
  }
}
.checkbox {
  input {
    display: none;
    &:checked {
      & + label {
        &::before {
          background: #D00025 url('../img/icons/check.svg') center no-repeat;
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    &::before {
      content: '';
      width: 1.4em;
      height: 1.4em;
      border-radius: 3px;
      border: 2px solid var(--red);
      margin-right: .75em;
    }
  }
}
