:root {
  --grey-text: rgba(26, 24, 31, 0.6);
  --grey-dark: #D9D9D9;
  --red: #D00025;
  --black: #1A181F;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: #F4F7F7;
  color: var(--black);
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  transition: all .2s;
}

.font-500 {
  font-weight: 500;
}

b,
strong {
  font-weight: 800;
}
.font-500 {
  font-weight: 500;
}
.font-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  height: 100%;
}

.main {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.red {
  color: #D00025;
}
a.red {
  &:hover {
    text-decoration: underline;
  }
}
.white {
  color: #fff;
  p {
    color: #fff;
  }
}
.h1,
h1 {
  font-size: 9rem;
  line-height: 1.1;
}
h2, .h2 {
  font-size: 5rem;
  line-height: 1.2;
}
h3, .h3 {
  font-size: 2.5rem;
  line-height: 1.2;
}
p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(26, 24, 31, 0.6);
  a {
    color: var(--red);
    &:hover {
      text-decoration: underline;
    }
  }
}
::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #F4F7F7;
}


/* ползунок скроллбара */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.for-mobile {
  display: none !important;
}
