@media(max-width: 1600px) {
  html {
    font-size: .65vw;
  }
  .header {
    padding: 2rem 0;
  }
  .h1, h1 {
    font-size: 6rem;
  }
  h2, .h2 {
    font-size: 4rem;
  }
  h3, .h3 {
    font-size: 2rem;
  }
  .about-us,
  .for-partners,
  .contacts {
    padding: 10rem 0;
  }
  .slide-img,
  .banner-img {
    width: 100%;
    text-align: center;

    img {
      margin-left: auto;
      margin-right: auto;
      max-height: 50rem;
      max-width: 480px;
    }
  }
  .for-partners__title {
    margin-bottom: .75em;
  }
  .banner-options li .place-number {
    font-size: 1.2em;
  }
  .contacts__form {
    padding: 5rem;
  }
  .input {
    height: 50px;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media(max-width: 1440px) {
  .slide-img,
  .banner-img {
    img {
      max-height: 42rem;
    }
    .slide-img__lt {
      max-height: 34rem;
    }
  }
}

@media(max-width: 1280px) {
  html {
    font-size: 1vw;
  }
  .first-screen {
    height: 500px;
    padding-top: 50px;
  }
  .logo__descr {
    margin-left: 1em;
    padding-left: 1em;
  }
}

@media(max-width: 767px) {
  html {
    font-size: 1.2vw;
  }
  .logo__descr,
  br,
  .partners-slide__content .h3::before {
    display: none;
  }
  .logo__text {
    font-size: 14px;
  }
  .social li a {
    width: 15px;
    height: 15px;
  }
  h1, .h1,
  h2, .h2 {
    font-size: 27px;
  }
  h3, .h3 {
    font-size: 15px;
    font-weight: 500;
  }
  .header {
    padding: 20px 0;
  }
  .first-screen {
    text-align: center;
    height: 450px;

    &__bottom {
      justify-content: center;

      .down {
        display: none;
      }

      .btn {
        width: 100%;
      }
    }

    .h1 {
      line-height: 1.3;
      margin-bottom: 30px;
    }

    .h3 {
      max-width: 240px;
      margin: 0 auto 3em;
      line-height: 1.6;
    }
  }
  .about-us {
    .container{
      display: block;
    }
  }
  .about-us__descr,
  .about-us__statistic,
  .about-us__statistic__list__item,
  .master-slide__body{
    width: 100%;
  }
  .about-us, .for-partners, .contacts {
    padding: 50px 0;
  }
  .about-us__descr {
    text-align: center;
    margin-bottom: 30px;

    .h3 {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .about-us__statistic__list {
    margin: 0;

    &__item {
      padding: 0;
      margin-bottom: 10px;
    }
  }
  .about-us__statistic__list__content {
    height: 120px;
    text-align: center;
    justify-content: center;

    .h2 {
      font-size: 30px;
    }
  }
  p {
    font-size: 14px;
  }
  .about-us__statistic {
    & > p {
      font-size: 12px;
      text-align: center;
      margin-top: 1.5em;
    }
  }
  .about-us::after {
    width: 300px;
    height: 300px;
    background: rgba(208, 0, 37, 0.2);
    filter: blur(50px);
    transform: translate(40%, 40%);
  }
  .contacts__top {
    display: block;
    text-align: center;

    .h2 {
      margin-bottom: .5em;
    }
  }
  .mail {
    margin-left: auto;
  }
  .contacts__form {
    padding: 30px 20px;

    .h2 {
      margin-bottom: 1em;
    }
  }
  .input-row--two-items {
    display: block;

    .input-wrapper {
      width: 100%;
    }
  }
  .input-wrapper {
    & > span {
      text-align: center;
    }
  }
  .input {
    height: 70px;
  }
  .checkbox label {
    font-size: 12px;
  }
  .input-wrapper .checkbox {
    transform: translate(0, 0);
  }
  .copyright-label {
    width: 57px;
    height: 57px;
    font-size: 20px;
  }
  .for-mobile {
    display: block !important;
  }
  .for-desctop {
    display: none !important;
  }
  .slide-img img, .banner-img img {
    max-height: unset;
    width: 100%;
  }
  .partners-slide {
    margin-bottom: 50px;
  }
  .for-partners__title {
    margin-bottom: 30px;
  }
  .partners-slide__content br {
    display: block;
  }
  .tab-list {
    overflow-x: auto;
    justify-content: flex-start;
  }
  .tab-list li {
    font-size: 14px;
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    white-space: nowrap;
    color: rgba(26, 24, 31, 0.5);
    &.active {
      color: var(--red);
    }
    &::before {
      border-width: 0 0 2px 0 !important;
      border-radius: 0 !important;
    }
    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 10px;
    }
  }
  .advertise-banners {
    padding-bottom: 30px;
  }
  .partners-slider,
  .master-slide__content{
    flex-wrap: wrap;
    .slide-img {
      position: relative;
      margin-top: 10px;
      &::before {
        content: '';
        width: 10px;
        height: 20px;
        background: url('../img/icons/arrow-down.svg') center no-repeat;
        display: block;
        margin: 0 auto 20px;
      }
    }
  }
  .select ul {
    padding: 10px;
    width: 220px;
  }
  .select .placeholder:after {
    width: .6em;
    height: .3em;
  }
  .master-slide__content {
    &--full-width {
      flex-direction: column-reverse;
      .slide-img,
      .slide-descr{
        width: 100%;
      }
      .slide-img {
        text-align: center;
        img {
          max-width: 100%;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          max-height: unset;
        }
      }
    }
    .slide-descr {
      text-align: center;
      .h3 {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.4;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .list {
    font-size: 15px;
    li {
      padding-left: 0;
      padding-top: 1.5em;
      &::before {
        left: 50%;
        margin-left: -2px;
      }
    }
  }
  .master-slide {
    margin-bottom: 50px;
  }
  .master-slide__body .slide-descr {
    min-height: unset;
  }
  .master-slide__body {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    .slide-img {
      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

//767
