.for-partners {
  background: #271821 url('../img/partners_bg.jpg') center no-repeat;
  background-size: cover;
  padding: 15rem 0;

  &__title {
    margin-bottom: 1.75em;
    font-weight: 800;
  }
}
.slider {
  height: 0;
  overflow: hidden;
  &.active {
    height: auto;
    overflow: visible;
  }
}
.partners-slider,
.master-slider {
  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;
    }
  }
}

.slick-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all .3s;
  z-index: 1;

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: #000
  }
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.partners-slide__content {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .h3 {
    font-weight: 700;
    margin-bottom: .75em;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      width: 5em;
      height: 4em;
      position: absolute;
      right: calc(100% + 10px);
      top: .6em;
      background: url('../img/vector.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }

  p {
    max-width: 330px;
    line-height: 1.4;
    margin: 0 auto;
  }
}

.slide-img {
  margin-top: 2em;

  img {
    border-radius: 13px;
  }
}

.master-slide__content {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;

  &--full-width {
    .slide-img {
      width: 40%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .slide-descr {
      width: 55%;

      .h3 {
        margin-bottom: 1.2em;
        font-weight: 700;
      }
    }
  }
}

.list {
  font-size: 1.5rem;

  li {
    line-height: 1.5;
    padding-left: 1.5em;
    position: relative;

    &::before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--red);
      position: absolute;
      left: 0;
      top: .6em;
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.master-slide__body {
  width: 45%;

  .slide-descr {
    text-align: center;
    min-height: 10rem;
    .h3 {
      font-weight: 700;
    }

    p {
      margin-top: 1em;
    }
  }
  .slide-img {
    margin-top: 1em;
  }
}

