.tab-content {
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &.active {
    height: auto;
    visibility: visible;
    overflow: auto;
  }
}

.tab-list {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;

  li {
    font-size: 1.4rem;
    font-weight: 700;
    width: 20.7142em;
    height: 4.2857em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #D7D9DA;
    border-right: none;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border: 3px solid var(--red);
      position: absolute;
      left: -3px;
      top: -3px;
      border-radius: 5px;
      opacity: 0;
      transition: all .3s;
    }
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid #D7D9DA;
    }
    &.active {
      z-index: 1;
      &::before {
        opacity: 1;
      }
    }
  }
}
